CRC.Computer.Graphics.Through.OpenGL.From.Theory.to.Experiments.2nd.Edition.1482258390.pdf
Learning_openCV.pdf
Packt.OpenCV.By.Example.1785280945.pdf
Springer.Computer.Vision.Algorithms.And.Application.Oct.2010.ISBN.1848829345.pdf
Wrox.Professional.Cplusplus.3rd.Edition.1118858050.pdf
.DS_Store
.idea/
*.pdf
